<header>
  <h1>Todo-list</h1>
</header>
<main>
  <app-task-input (onSubmit)="handleTaskSubmit($event)" />
  @for (item of filteredTasks; track item.id) {
  <app-task-item [task]="item" (onDelete)="handleTaskDelete($event)" (onToggle)="handleTaskToggle($event)" />
  }

  @if(tasks.length > 0) {

  <app-toolbar [numberOfItemLeft]="numberOfItemLeft" [numberOfItemCompleted]="numberOfItemCompleted" [filter]="filter"
    (onFilterChange)="handleFilterChange($event)" (onClearCompleted)="handleClearCompleted()" />
  }


</main>
